.thirdrow {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  color: white;
  background-color: #3c3c3b;
  justify-content: space-around;
  min-height: 56px;
  position: relative;
  z-index: 100;
  margin: 0;
}

.search {
  margin-right: -5rem;
}
.noHover:hover{
  color: white !important;
}

 
