.containerGrey {
  background-color: #f5f5f5;
  max-width: 100%;
}

.navbarNewsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #f5f5f5;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}

.searchNewsletter {
  display: flex;
  align-items: center;
  color: #b51722;
  text-decoration: none !important;
}

input {
  width: 18rem;
  padding: 0.5rem;
  border: none;
  opacity: 70%;
  
}

button {
  background-color: #f5f5f5;
  color: #b51722;
  font-weight: 700;
  padding: 0.4rem;
  border: 2px solid;
  cursor: pointer;
  border-radius: 4px;
}

.social-icons {
  margin-left: 5rem;
  display: flex;
  gap: 1rem;
}

.social-icons a {
  color: #b51722;
  text-decoration: none;
  font-size: 1.2rem;
}

span {
  font-size: 0.9em;
  opacity: 50%;
  margin-right: 1rem;
  margin-left: 1rem;
}

.envelope {
  color: #b51722;
  width: 2rem;
  height: 2rem;
}
.grey {
  background-color: #f5f5f5;
}
