@import "~/bootstrap/scss/bootstrap";


@import "~bootstrap/scss/functions";

body{
    padding: 0px;
    margin: 0;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #222222;
    background-color: #fafafa;

}