@import "~bootstrap/scss/bootstrap.scss";

@import "~bootstrap/scss/functions";

body {
  display: block;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  color: #222222;
  background-color: #fafafa;
}
