.firstRow {
  padding: 0px;
  margin: 0px !important;
  background-color: #c31924;
  display: block;
  font-family: "Roboto", sans-serif;
  position: relative;
  min-height: 1px;
  z-index: 3;
  font-family: "Roboto", sans-serif;
  color: white;
  box-sizing: border-box;
}

.navbar-nav .nav-link {
  color: #fff;
}