.thirdrow {
  color: white;
  background-color: #3c3c3b;
  justify-content: space-around;
  min-height: 56px;
  position: relative;
  z-index: 100;
  margin-bottom: 30px;
}

.space {
  margin-lefT: 4rem;
}

.search {
  justify-content: center;
  align-items: center;
  margin-left: 4rem;
}